{% extends "AppTrip/padres/padre.html" %}

{% load static %}




@login_requider
{% block titulo %}

{{mensaje}}
{% endblock %}

{% block bienvenida %}
Una verdadera experiencia de viajes.

{% endblock %}

{% block nosotros %}
Sobre Nosotros.
{% endblock %}


{% block historia %}
Compatimos experencias e historias de viajes, para guiar a la comunidad viajera a una mejor experiencia.


{% endblock %}


{% block thistoria %}
Diario de Viajeros:

{% endblock %}
{% block mundo %}
Contanos tus historias, y mostranos lo bueno y no tan bueno de tus viajes.

{% endblock %}

{% block paisajes %}
Mostranos eso que te enamoro de cada lugar.

{% endblock %}
                  

{% block hospedaje %}
Casa, cabaña o carpa, cual es la mejor forma de disfrutar de ese lugar unico ?

 {% endblock %}

 